a {
    color: #40bff5;
}

a.new {
    color: #40bff5;
}

a:hover, a:focus {
    color: #337ab7;
    text-decoration: underline;
    transition: 0.3s;
}

a.new:hover, a.new:focus {
    color: #b73333;
    text-decoration: underline;
    transition: 0.3s;
}

a.external {
    color: #40bff5;
}

a.external:hover, a.external:focus {
    color: #36C74D;
    text-decoration: underline;
    transition: 0.3s;
}

.plainlinks a.external {
    color: #40bff5;
}

.plainlinks a.external:hover, .plainlinks a.external:focus {
    color: #36C74D;
    text-decoration: underline;
    transition: 0.3s;
}
